// ******************** CAROUSEL'S ********************

.carrusel {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    img {
        scroll-snap-align: start;
        flex-shrink: 0;
    }

}


.galery-zoom {
    display: flex;
    height: 60vh;

    img {
        width: 0;
        flex-grow: 1;
        object-fit: cover;
        transition: .5s ease;
        opacity: 0.8;
        filter: contrast(80%);

        &:hover {
            position: relative;
            width: 200px;
            opacity: 1;
            filter: contrast(100%);
            scale: 1.1;
            z-index: 2;
        }
    }
}

.carrusel-owl {

    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    height: 60vh;

    >div {
        position: relative;
        width: 100%;
        height: 100%;

        scroll-snap-align: start;
        flex-shrink: 0;

        view-timeline-name: --owlC;
        view-timeline-axis: x;
        view-timeline-axis: horizontal;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            inset: 0;

            animation: owlAnimation ease;
            animation-fill-mode: both;
            animation-timeline: --owlC;
            animation-duration: 1s;
            /* Firefox requires this to apply the animation */

            opacity: 0.5;

            @keyframes owlAnimation {

                0%,
                100% {
                    transform: translateX(0%);
                    scale: (.5);
                }

                0% {
                    transform: translateX(-100%);
                    scale: (.5);
                }

                50% {
                    scale: (0.7);
                    transform: translateX(0%);

                    z-index: 5;
                    opacity: 1;

                }

                100% {
                    transform: translateX(100%);


                    scale: (.5);

                }
            }


        }



        // animation-range: 45% cover 75%;
    }

}

