// Bg gradient animate 
// https://codepen.io/mike-schultz/pen/NgQvGO
// https://stackoverflow.com/questions/68498857/css-animated-gradient-border-on-a-div

// ******************** TEXT'S ********************
.blurring {
    color: transparent;
    animation: blurring 3s ease-in forwards;
    -webkit-animation: blurring 3s ease-in forwards;

    @keyframes blurring {

        0%,
        100% {
            text-shadow: 0 0 0px #fff;
            opacity: 1;
        }

        50% {
            text-shadow: 0 0 100px #fff;
            opacity: 0;
        }
    }

    @-webkit-keyframes blurring {

        0%,
        100% {
            text-shadow: 0 0 0px #fff;
            opacity: 1;
        }

        50% {
            text-shadow: 0 0 100px #fff;
            opacity: 0;
        }
    }

}


