



// Bg gradient animate 
// https://codepen.io/mike-schultz/pen/NgQvGO
// https://stackoverflow.com/questions/68498857/css-animated-gradient-border-on-a-div

// ******************** TEXT'S ********************
.blurring {
    color: transparent;
    animation: blurring 3s ease-in forwards;
    -webkit-animation: blurring 3s ease-in forwards;
    @keyframes blurring {
        0%, 100%{text-shadow:  0 0 0px #fff;opacity: 1;}
        50%  {text-shadow:  0 0 100px #fff; opacity:0;}
    }
    
    @-webkit-keyframes blurring {
        0%, 100%{text-shadow:  0 0 0px #fff;opacity: 1;}
        50%  {text-shadow:  0 0 100px #fff; opacity:0;}
    }

}


// ******************** CAROUSEL'S ********************

.galery-zoom{
    display: flex;
    height: 60vh;
    img{
        width: 0;
        flex-grow: 1;
        object-fit: cover;
        transition: .5s ease ;
        opacity: 0.8;
        filter: contrast(80%);

        &:hover{
            position: relative;
            width: 200px;
            opacity: 1;
            filter: contrast(100%);
            scale: 1.1;
            z-index: 2;
        }   
    }
}

.carrusel{
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    
    img{
        scroll-snap-align: start;
        flex-shrink: 0;
    }
    
}


.owl_carrusel{

    
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    
    img{
        scroll-snap-align: start;
        flex-shrink: 0;
    }
    
}