 /* BACKGROUNDS */

 section {
     position: relative;
     view-timeline-name: --section;

     &::after {
         content: "";
         inset: 0;
         z-index: -1;
         position: absolute;
         background-position: center;
         background-repeat: no-repeat;
         background-size: contain;

         animation: effect;
         animation-fill-mode: both;
         animation-timeline: --section;
         animation-range: 45% cover 75%;

         @keyframes effect {

             0% {
                 opacity: .4;
                 translate: 0 -25%;

             }

             50% {
                 opacity: .75;
                 translate: 0 15%;

             }

             100% {
                 opacity: .4;
                 translate: 0 25%;
             }

         }
     }

     &.bg1 {
         &::after {
             background-image: url('/assets/img/bg/bg1.png');
         }
     }

     &.bg2 {
         &::after {
             background-image: url("/assets/img/bg/bg2.png");
             scale: (1.5);
         }
     }
     &.bg3 {
        &::after {
            background-image: url("/assets/img/bg/bg3.png");
            scale: (1.5);
        }
    }

     @include brackpoint(v.$sm) {
         &.bg1 {
             &::after {
                 background-size: cover;
             }
         }
     }

     ;



 }







