 /* BACKGROUNDS */

 section {
     position: relative;
     view-timeline-name: --section;

     &::after {
         content: "";
         inset: 0;
         z-index: -1;
         position: absolute;
         background-position: center;
         background-repeat: no-repeat;
         background-size: contain;


         animation: effect ease ;
         animation-fill-mode: both;
         animation-timeline: --section;
         animation-range: 45% cover 75%;

         @keyframes effect {

             0% {
                 opacity: .4;
                 translate: 0 -15%;

             }

             50% {
                 opacity: .75;
                 translate: 0 15%;


             }

             100% {
                 opacity: .4;
                 translate: 0 -15%;


             }

         }
     }


     &.bg1 {
         &::after {
             background-image: url('/assets/img/bg/bg1.png');
         }
     }

     &.bg2 {
         &::after {
             background-image: url("/assets/img/bg/bg2.png");
             scale: (3);
             z-index: -1000;


         }
     }

     @include brackpoint(v.$sm) {
         &.bg1 {
             &::after {
                 background-size: cover;
             }
         }
     }

     ;



 }







 .bg3 {
     position: relative;

     &::after {
         content: "";
         position: absolute;
         inset: 0;
         z-index: -1;
         background-image: url("/assets/img/bg/bg3.png");
         background-position-x: center;
         background-position-y: center;
         opacity: 0.5;
         background-repeat: no-repeat;
         background-size: contain;
         transform: scale(1.5);
     }
 }



 @media (min-width:650px) {
     .bg1 {
         background-size: cover;

     }

 }