// *** COLORS






// Border Theme
.border-primary {
    border: 0.75px solid v.$primary;
    box-shadow: 0px 0px 15px 0px v.$primary;
}

.border-blue {
    border: 0.75px solid v.$blue;
    box-shadow: 0px 0px 15px 0px v.$blue;
}

.border-danger {
    border: 0.75px solid v.$danger;
    box-shadow: 0px 0px 15px 0px v.$danger;
}

.border-secondary {
    border: 0.75px solid v.$secondary;
    box-shadow: 0px 0px 15px 0px v.$secondary;
}

// ******** Botton
.btn {
    display: flex;
    border-radius: 0.125rem;
    padding: 0.25rem 0.75rem 0.20rem;

    color: #FFF;
    font-family: Inter;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1;

}



// Todo animacion multicolor
.box-shadow-special {


    border: 0 solid v.$secondary;
    border-width: 0.1px 0 0 0;

    border-radius: 1rem;
    position: relative;

    filter: drop-shadow(0px -2px 2px color-mix(in srgb, v.$secondary, transparent 60%));

    &::after {
        position: absolute;

        content: "";
        inset: 0;
        opacity: 0.125;
        background: radial-gradient(50% 100% at 50% 20%, #000000 0%, #000000 50%, rgba(0, 0, 0, 0) 100%);

    }

    .selector {
        padding: 0.5rem 0;
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;

        >div {
            width: 0.5rem;
            height: 0.25rem;
            flex-shrink: 0;
            border-radius: 0.0625rem;
            background: rgba(177, 177, 177, 0.397);
            filter: blur(0.5px);

            &.active {
                background: #ffffff;

            }
        }
    }
}




// imputs
input,
textarea {
    &.btn {
        padding: 0.25rem .75rem;
        color: rgba(255, 255, 255, 0.50);
        font-family: Inter;
        font-size: 0.75rem;
        font-style: italic;
        font-weight: 900;
        line-height: normal;
    }
}

// textarea {
//     textarea::-webkit-scrollbar {
//         background: transparent;
//         width: 10px;
//         cursor: pointer;
//         position: relative;
//         z-index: 100;

//     }

//     textarea::-webkit-scrollbar-track {
//         border-radius: 100vh;
//         background: transparent;
//     }

//     textarea::-webkit-scrollbar-thumb {
//         background: #282a44;
//         border-radius: 100vh;
//         border: 1px solid #000000;
//     }

//     &::-webkit-scrollbar-corner {
//         background: transparent;

//     }
// }



.toggle {
    $color: v.$blue;
    --color: v.$blue;

    border-left-width: 4px;
    border-color: color-mix(in srgb, $color 30%, transparent);

    padding: .25rem 0 .25rem .5rem;
    color: gray;
    cursor: pointer;
    width: 100%;

    .toggle-card {
        border: 1px solid $color;
        padding: .25rem;
        transition: background-color 500ms ease-in-out;
        width: 100%;
        display: block;

        h2 {
            font-weight: 800;
        }
        svg{
            display: none;
        }

        p {
            overflow: hidden;
            transition: max-height 500ms ease-in-out;
            -webkit-transition: max-height 750ms ease-in-out;
            -moz-transition: max-height 750ms ease-in-out;
            -ms-transition: max-height 750ms ease-in-out;
            -o-transition: max-height 750ms ease-in-out;
            max-height: 0rem;
        }

    }

    @media (min-width :640px) {
        padding: .25rem 0 .25rem 0.5rem;

        .toggle-card {
            padding: 1rem;
        }
    }

    &:target {
        color: rgb(255, 255, 255);
        border-color: $color;

        .toggle-card {
            border: 2px solid $color;
            background: color-mix(in srgb, $color 30%, transparent);


            p {
                max-height: 100dvh;
                height: auto;
                margin-top: 0.25rem;
            }
        }

        svg{
            display: flex;
        }


    }
}