$xs: 320px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xl2: 1536px;

$sizes : ($xs, $sm,$md,$lg,$xl,$xl2);

$primary: #005E94;
$primary-light: rgba(0, 94, 148, 0.2);

$secondary: #6E36E5;
$secondary-light: #fff;

$blue: #0090f9;
$blue-light: #fff;

$danger: #B7455A;
$danger-light: #fff;