@import 'animations';



.bg-gradient-1{
    
    position: relative;
    z-index: 2;
    &::before{
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background: linear-gradient(180deg, rgba(0, 94, 148, 0.60) -157.8%, rgba(5, 78, 121, 0.60) 3.32%, rgba(5, 78, 121, 0.00) 100%);

    }
    
}