@import 'resets';
@import 'backgrounds';
@import 'animations';
@import 'themes';
@import 'text';





.carrusel_center {
    padding: 2rem;

    position: relative;

    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    scroll-snap-stop: always;

    display: flex;
    gap: 2rem;

    >* {
        width: 100%;
        min-width: min-content;
        flex-shrink: 0;
    }

}


.border-blur{
    position: relative;

    &::after {

        z-index: 10;

        content: "asdsad";
        position: absolute;
        inset: 10%;
        // border-radius: 50%;
        background-image: url("/assets/Desarrollador_web.JPG");
        box-shadow: 0 0 30px 30px rgba(245, 245, 245, 0.336) inset;
        opacity: 0.8;
    }
}

