@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    min-height: 100dvh;
    min-width: min-content;

    width: 100%;
}

@font-face {
    font-family: "tourner";
    src:
        local("/fonts/tourner/Tourner.woff2")format('woff2'),
        local("/fonts/tourner/Tourner.woff")format('woff'),
        local("/fonts/tourner/Tourner.ttf")format('ttf'),

    ;
}

@font-face {
    font-family: "lemon-milk";
    src: local('/fonts/lemon_milk/LEMONMILK-Bold.woff2', );
    weight: '700';
    style: 'normal';
}

@font-face {
    font-family: "lemon-milk";
    src: local('/fonts/lemon_milk/LEMONMILK-Medium.woff2', );
    weight: '400';
    style: 'normal';
}

@font-face {
    font-family: "lemon-milk";    
    src: local('/fonts/lemon_milk/LEMONMILK-Regular.woff2', );
    weight: '500';
    style: 'normal';
}


@font-face {
    font-family: "lemon-milk";
    src: local('/fonts/lemon_milk/LEMONMILK-Light.woff2', );
    weight: '300';
    style: 'normal';
}



.font-tourner {
    font-family: "tourner";
}

.font-lemonmilk {
    font-family: "lemon-milk";

}




.container {
    width: 100%;
    margin: 0 auto;
}

section {
    padding-bottom: 10%;
    min-height: 100dvh;
    min-width: min-content;
    width: 100%;
    
}

header.header{
    text-align: center;
}


/* BACKGROUNDS */
.bg1{
    background-image: url("/src/assets/img/bg/bg1.png");
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.bg2{
    background-image: url("/src/assets/img/bg/bg2.png");
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.bg3{
    background-image: url("/src/assets/img/bg/bg3.png");
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;

}

@media (min-width:650px) {
    .bg1{
    background-size: cover;

    }
    
}


