@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    min-height: 100dvh;
    min-width: min-content;
}




.container {
   margin: 0 auto;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
    .container>.container{
        max-width: 80%;

    }
}


/* .fixed{
    -webkit-backface-visibility: hidden;
} */






