body {
    overflow: auto;
    scroll-timeline-name: --squareTimeline;
    // view-timeline-name: --gallery-video;
    // view-timeline-axis: y;
    // view-timeline-axis: vertical;
}

.gallery {
    position: relative;

    $gap: 0.5rem;

    overflow: hidden;
    display: block;
    columns: 2;
    -moz-columns: 1;
    gap: $gap;
    width: 100%;

    >a {
        transition: 5s ease;
        margin: $gap 0;

        animation-timeline: --squareTimeline;

        animation: effect-gallery-video;
        animation-fill-mode: both;
        animation-range: 45% cover 75%;

        @keyframes effect-gallery-video {
            from {
                transform: translateY(100%);
            }

            to {
                transform: translateY(0%);
            }

        }



        &:target {

            height: min-content;
            position: flex;
            inset: 0;
            width: 100%;
            transition: .5s ease;
            border-radius: 1rem;

            overflow: hidden;
            height: 10rem;
            width: 10rem;

            >* {
                border-radius: 1rem;

                scale: 1.2;
                transition: 5s ease;


            }
        }
    }


}