.exp_descripcion {}

.experience {
    display: flex;
    flex-direction: column;

    .element {
        border-left-width: 4px;
        border-color: gray;
        padding: .25rem 0 .25rem .5rem;
        color: gray;
        cursor: pointer;

        .card {
            border: 1px solid hsla(202, 100%, 29%, 0.616);
            padding: .25rem;
            transition: background-color 500ms ease-in-out;

            h2 {
                font-weight: 800;
            }

            p {
                overflow: hidden;
                transition: max-height 500ms ease-in-out;
                -webkit-transition: max-height 750ms ease-in-out;
                -moz-transition: max-height 750ms ease-in-out;
                -ms-transition: max-height 750ms ease-in-out;
                -o-transition: max-height 750ms ease-in-out;
                max-height: 0rem;
            }

        }

        @media (min-width :640px) {
            padding: .5rem 0 .5rem 1rem;

            .card {
                padding: 1rem;
            }
        }

    }

    .active {
        color: rgb(255, 255, 255);
        border-color: rgb(255, 255, 255);

        .card {
            background-color: hsla(202, 100%, 29%, 0.304);
            box-shadow: 0px 0px 15px 0px #005e94;


            p {
                max-height: 10rem;
                height: auto;
            }
        }


    }
}